{
    "extends": [
        "hapi",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 8
    },
    "plugins": [
        "prettier"
    ],
    "rules": {
        "hapi/no-arrowception": [
            0
        ],
        "hapi/hapi-scope-start": [
            0
        ]
    }
}